@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Green_Stuff.Models.UserType>
@{
    ViewData["Title"] = "Catálogo de usuarios";
}
<div class="card">
    <div class="card-header">
        <h5>Catálago de usuarios</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Detail" asp-controller="UserType" asp-route-IdItem="0">Crear nuevo</a>
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Rol</th>
                    <th>Fecha modificación</th>
                    <th>Habilitado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdUserType</td>
                        <td>@item.Name</td>
                        <td>@item.ModificationDate</td>
                        <td>@item.Enabled</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Detail" asp-controller="UserType" asp-route-IdUserType="@item.IdUserType">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="UserType" asp-route-IdUserType="@item.IdUserType">Eliminar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
